.order-details{
    border:1px solid gray;
    margin:10px 200px;
    background-color: rgba(197, 113, 197, 0.486);
    border-radius: 10px;
    
}
.orders{
    margin:40px;
    text-align: center;
    background-color: rgb(127, 117, 134);
    border-radius: 10px;

}